{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area on the homepage --}}
<main id='content' class='content' role='main'>
  <div class='landing'>
    <video playsinline autoplay muted loop>
      <source src='https://s3-us-west-2.amazonaws.com/lawluk/videos/lawluk.webm' type='video/webm'>
      <source src='https://s3-us-west-2.amazonaws.com/lawluk/videos/lawluk.mp4' type='video/mp4'>
    </video>
    <div class='landing-callout'>
      <div class='mobile-photo'></div>
      <h1>Lawrence Luk</h1>
      <div class='stripe'></div>
      <p>
        <span>UC San Diego Computer Science graduate.</span>
        <span>Software Engineer at <a href='https://www.poynt.com' target='_blank'>Poynt</a>.</span>
      </p>
      <div class='landing-actions'>
        <a class='landing-action' href='/blog'>
          <div class='icon blog'></div>
          <span>Blog</span>
        </a>
        <a class='landing-action' href='#'>
          <div class='icon resume'></div>
          <span>Resume</span>
        </a>
        <a class='landing-action' href='https://soundcloud.com/lawluk' target='_blank'>
          <div class='icon music'></div>
          <span>Music</span>
        </a>
        <a class='landing-action' href='mailto:l@lawluk.com' target='_blank'>
          <div class='icon contact'></div>
          <span>Contact</span>
        </a>
      </div>
    </div>
    <div class='landing-mobile-pattern'></div>
    <div class='landing-foot-l'>Video filmed in NYC.</div>
    <div class='landing-foot-r'>© 2017</div>
    </div>
  </div>
</main>
