.blog
  &-header
    padding $grid*3 0
    text-align center

    > h1
      position relative
      z-index 5

      &:before,
      &:after
        display block
        content 'Blog'
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        opacity .8
      &:after
        color $blue
        z-index -2
        animation glitch-small 0.85s cubic-bezier(.25, .46, .45, .94) both infinite
      &:before
        color $purple
        z-index -1
        animation glitch-small 0.85s cubic-bezier(.25, .46, .45, .94) reverse both infinite

  &-post
    background $grey4
    display flex
    flex-wrap wrap
    padding $grid
    width 100%
    position relative

    &.in-view
      img
        opacity 1
        transform none

  &-post-info
    flex 1 1 $grid*6
    margin-top $unit
    position relative
    z-index 1

    > h2
      color $grey1

    > p
      color $grey1
      font-size $base-font-size
      line-height 1.5
      margin-top $unit

  &-post-image-wrapper
    flex 0 0 $grid*10
    margin-right $grid
    margin-left $grid*-2
    z-index 1

    > img
      box-shadow 1px 1px 4px rgba(0,0,8,.24)
      max-width 100%
      transform rotateX(3deg) translateY($grid)
      transition 0.8s ease
      opacity 0.2

  &-loop
    margin-bottom $grid

    a
      display block
      text-decoration none
      margin 0 auto $unit*2 auto
      max-width $grid*35

      &:hover
        filter none
        transform none

@media (max-width: 640px)
  .blog
    &-content
      padding-left $grid
      padding-right $grid

@keyframes glitch-small
  0%
    transform translate(0)

  12%
    transform translate(2px, 1px)

  20%
    transform translate(-2px, -1px)

  24%
    transform translate(0)

@keyframes glitch-med
  0%
    transform translate(0)

  12%
    transform translate(4px, 2px)

  18%
    transform translate(-4px, -2px)

  22%
    transform translate(0)

