.page-exchange
  text-align center

  > a
    margin $grid 0 $unit*2 0

.exchange
  &-header
    padding $grid*3 $grid $grid $grid
    text-align center

  &-body
    #loading-content
      &.loaded
        display none

    #loaded-content
      display none

      &.loaded
        display block

  &-input
    padding 0 $grid
    text-align center

    .select2
      min-width $grid*6

    .select2-selection
      background-color transparent !important
      border none !important
      border-bottom 1px solid $blue !important
      border-radius 0 !important
      color $blue
      text-align left

    &-image
      width $grid*2
      height $grid*2
      margin 0 auto $unit*2 auto
      background-size contain
      background-repeat no-repeat

  &-output
    display flex
    flex-wrap wrap
    justify-content center
    padding $grid

  &-result
    border-radius 3px
    display inline-block
    padding $grid
    background-color white
    border 1px solid $grey6
    box-shadow 0 2px 4px rgba(10, 10, 20, 0.12)
    margin $unit*2
    min-width $grid*10
    text-align center

    &.best
      .exchange-result-title
        color $purple

    strong
      font-weight 600

    .arrow-up
      display inline-block
      margin-right $unit
      width 0
      height 0
      border-left 6px solid transparent
      border-right 6px solid transparent
      border-bottom 8px solid $green

    .arrow-down
      display inline-block
      margin-right $unit
      width 0
      height 0
      border-left 6px solid transparent
      border-right 6px solid transparent
      border-top 8px solid $red

    &-header
      > small
        color $grey4
        display block
        font-size $small-font-size

    &-thumbnail
      display block
      margin 0 auto $unit*2 auto
      height $grid
      width $grid

      > .fa
        font-size 18px
        border 2px solid $grey1
        border-radius 33px
        width $grid
        height $grid
        padding-right 1px
        padding-top 6px
        text-align center

    &-title
      font-size 30px
      font-weight 600
      margin $unit*2 0
      text-align center

    &-stats
      margin $unit*2 auto

      > .row
        display flex
        align-items center
        justify-content space-between

    &-details
      font-size $small-font-size

      small
        color $grey4

  &-currency
    position absolute
    top $grid
    right $grid

    .select2
      min-width 126px

    &-amount
      background-color transparent
      border none
      border-bottom 1px solid $blue
      font-family $body-font
      font-size 16px
      margin-right $unit
      padding 6px 2px
      width $grid*3
      text-align right

  &-refresh-button
    background-color $blue
    border none
    border-radius 3px
    color white
    cursor pointer
    font-family $body-font
    font-size 16px
    margin $unit*2
    padding 6px 12px

    &:hover
      filter brightness(105%)

.select2-dropdown.select2-dropdown--above
  border-bottom 1px solid #aaa !important
  border-radius 3px !important

@media print
  .exchange
    &-header
      display none

    &-result
      padding $unit

      &.best
        .exchange-result-title
          text-decoration underline

    &-currency
    &-refresh-button
      display none

  .page-exchange > a
    display none
