.landing
  &-callout
    background radial-gradient(circle at 50%, #111, #111 60%, #F8F8F8 75%, #111 98%)
    background-size 100%
    box-shadow inset 0 6px 14px 6px rgba(0,0,0,.2)
    display flex
    flex-direction column
    justify-content flex-start
    align-items center
    padding $grid*2 0
    color white
    
    > .video-wrapper
      position absolute
      top 0
      left 0
      overflow hidden
      height $grid*10
      width 100vw
      
      > video
        position absolute
        top -33%
        left 0
        width 100vw

    > h1
      font-size 96px
      position relative
      z-index 5

      &:before,
      &:after
        display block
        content 'Lawrence Luk'
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        opacity .8
      &:after
        color $blue
        z-index -2
        animation glitch-med .85s cubic-bezier(.25, .46, .45, .94) both infinite
      &:before
        color $purple
        z-index -1
        animation glitch-med .85s cubic-bezier(.25, .46, .45, .94) reverse both infinite

    > p
      // background-color rgba(12, 148, 245, 0.75)
      margin 0
      text-align center
      animation fade-in-left 2s ease both

    a
      color white
      text-decoration underline
      
  &-timeline
      padding $grid 0
      
      > .mobile-photo
        width $grid*3
        height $grid*3
        border-radius $grid*3
        background-color white
        background-size cover
        background-image url('https://s3-us-west-2.amazonaws.com/lawluk/images/pf.jpg')
        box-shadow 0 2px 4px rgba(0, 0, 0, 0.4)
        margin $grid auto
        position relative
        z-index 3
        animation fade-in-down 1s ease both
    
      > .intro
        margin 0 auto
        max-width $grid*20
      
      > .walkthrough
        margin $grid auto
        max-width $grid*20
        
        > p
          border-top 3px solid
          border-image linear-gradient(to right, $purple 0%, $blue 100%)
          border-image-slice 1
          margin 0
          padding $grid*2
          position relative
          color $grey1
          
          > strong
            display block
            
          > em
            color $grey2
            font-size $small-font-size
            font-style italic
            line-height 1.15em
            display block
            margin-top $unit
          
          &:before {
            background-color: $grey1;
            border-radius: 0;
            color: white;
            content: var(--y);
            font-size: $small-font-size
            font-weight 800
            line-height: 1.25em;
            padding: $unit
            position: absolute;
            top calc(50% - 4rem)
            text-align: center;
          }
          
          &:nth-child(even) {
            border-right: 3px solid;
                        
            &:before {
              left: 100%; 
              margin-left: -20px;
            }
          }
          //even number borders
          &:nth-child(odd) {
            border-left: 3px solid;
            
            &:before {
              right: 100%; 
              margin-right: -20px;
            }
          }
          //handle first and last
          &:first-child {
            border-top: 0;
            border-top-right-radius:0;
            border-top-left-radius:0;
          }
          &:last-child {
            border-bottom-right-radius:0;
            border-bottom-left-radius:0;
          }

  &-foot
    &-l
    &-r
      color $grey1
      display flex
      font-size $small-font-size
      font-weight 300
      padding $unit*2
      position absolute
      // position fixed
      // bottom 0
      // z-index 10

    &-l
      left 0

    &-r
      right 0

  &-actions
    display flex
    justify-content space-between
    max-width $grid*20
    width 80vw
    padding-top $grid
    perspective 1080px

  &-action
    color white
    flex 1
    display flex
    align-items center
    justify-content center
    text-decoration none !important
    animation fade-in-left 1s ease backwards

    &:nth-of-type(1)
      animation-delay 0.2s
    &:nth-of-type(2)
      animation-delay 0.5s
    &:nth-of-type(3)
      animation-delay 0.8s
    &:nth-of-type(4)
      animation-delay 1.2s

    &:hover
      transform rotateY(12deg) rotateX(12deg) rotate(-4deg)

      > span
        opacity 1

    > .icon
      width $unit*2
      height $unit*2
      background-size cover
      display inline-block

      &.blog
        background-image url('https://s3-us-west-2.amazonaws.com/lawluk/images/icons/edit-3.svg')

      &.resume
        background-image url('https://s3-us-west-2.amazonaws.com/lawluk/images/icons/file-text.svg')

      &.music
        background-image url('https://s3-us-west-2.amazonaws.com/lawluk/images/icons/music.svg')

      &.contact
        background-image url('https://s3-us-west-2.amazonaws.com/lawluk/images/icons/mail.svg')

    > span
      display block
      margin-left $unit
      transition 0.2s ease
      text-align center

@media (max-width: 800px)
  .landing
    align-items flex-start
    // background linear-gradient(-239deg, $purple 22%, $blue 100%)
    overflow auto

    &-callout
      background linear-gradient(69deg, $grey1 61%, $grey2 100%)
      padding $grid
      z-index 3
      
      .video-wrapper
        height $grid*20
        width 100%
        
        > video
          width auto
          height 100%

      > h1
        font-size 40px
        line-height 1
        margin-top $grid

      > p
        background-color transparent
        color white
        margin $grid $grid*-1

        > span
          display block
    
    &-timeline
      padding $grid
      margin-top $grid*-3
      
      > main
        > p
          padding $grid $unit*2 !important
          
          &:before
            content '' !important
            display none

    &-actions
      flex-direction column
      position relative
      z-index 2

    &-action
      padding $unit*3 0

      &:hover
        transform rotateY(12deg) rotateX(8deg) rotate(-2deg)

      > span
          opacity 1

@keyframes landing-slide-in-stripe
  from
    transform translateX(2000px)

  to
    transform translateX(0)

@keyframes slide-up
  from
    height 0

  to
    height 100vh

@keyframes fade-in-left
  from
    opacity 0
    transform translateX(-32px)

  to
    opacity 1
    transform translateX(0)

@keyframes fade-in-down
  from
    opacity 0
    transform translateY(-16px)

  to
    opacity 1
    transform translateY(0)
