$header-font = 'Nunito Sans', sans-serif
$body-font = 'Montserrat', sans-serif

$grid = 32px
$unit = 8px

$small-font-size = 12px

$grey1 = #333
$grey2 = #4C4C4C
$grey3 = #808080
$grey4 = #AAA
$grey5 = #CCC
$grey6 = #F8F8F8

$blue = #0C94F5
$purple = #6E3DF5
$green = #45DE73
$red = #E36666
